<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的发布</title>
    {include file="public/header"}
    <link rel="stylesheet" href="/static/style/css/goods/mall.css">
</head>
<body>
    
    <div id="wrapper">
        <h1>购物广场</h1>
      <div class="toggles">
         <button id="showall">展示所有</button> 
        <button id="web">电子产品</button>
        <button id="ux">书籍</button>
        <button id="graphic">生活用品工具</button>
        <button id="motion">电器</button>
      </div>
      
      <div class="posts">
           
           <!--
          <div class="web post">Web Design</div>
          <div class="ux post">UX Design</div>
          <div class="graphic post">Graphic Design</div>
          <div class="web post">Web Design</div>
          <div class="ux post">UX Design</div>
          <div class="web post">Web Design</div>
          <div class="motion post">Motion Design</div>
          <div class="graphic post">Graphic Design</div>
          <div class="motion post">Motion Design</div>
          <div class="web post">Web Design</div>
          <div class="ux post">UX Design</div>
          <div class="graphic post">Graphic Design</div>
          <div class="web post">Web Design</div>
          <div class="ux post">UX Design</div>
          <div class="web post">Web Design</div>
          <div class="motion post">Motion Design</div>
          <div class="graphic post">Graphic Design</div>
        </div> 
      -->
      
      

       

    
    {include file="public/menu"}
    <script src="/static/style/js/goods/mall.js"></script>
    
</body>
</html>