<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Login</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/style/css/login/login.css">
</head>
<body class="align">
  <div class="grid">
    <div id="login">
      <h2><span class="fontawesome-lock"></span>登录</h2>
      <form action="#" method="POST">
        <fieldset>
          <p><label for="email">账号</label></p>
          <p><input type="text" id="email" placeholder="请输入账号" ></p>
          <p><label for="password">密码</label></p>
          <p><input type="password" id="password" placeholder="请输入密码" ></p>
          <p><input type="submit"  id="login" value="登  录"><span class="align"><a href="register">还没有账号？</a></span></p>
        </fieldset>
      </form>
    </div> <!-- end login -->
  </div>
  <script src="/static/layui/layui.js"></script>
  <script src="/static/style/js/login/login.js"></script>
</body>	
</html>