<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>收藏中心</title>
    {include file="public/header"}
    <link rel="stylesheet" href="/static/style/css/collection/index.css">
</head>
<body style="background: linear-gradient(45deg, #FF1053, #6C6EA0);">
  
        <div class="container" id="LAY_demo1">
  

                
              
        </div>
    
    {include file="public/menu"}
    <script src="/static/style/js/collection/index.js"></script>
</body>
</html>