<nav class="main-menu">
        <ul>
            <li>
                <a href="/">
                    <i class="fa iconfont icon-zhuye fa-2x"></i>
                    <span class="nav-text">
                        主页
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a href="/index/collection">
                    <i class="fa iconfont icon-shoucang fa-2x"></i>
                    <span class="nav-text">
                        我的心愿单
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="/index/recommend">
                   <i class="fa iconfont icon-lishidingdan fa-2x"></i>
                    <span class="nav-text">
                        推荐       <span class="layui-badge">99+</span>
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                    <a href="/index/addgoods">
                       <i class="fa layui-icon layui-icon-add-1 fa-2x"></i>
                        <span class="nav-text">
                            发布闲置
                        </span>
                    </a>
                   
                </li>
            <li class="has-subnav">
                <a href="/index/index/goods/mall">
                   <i class="fa iconfont icon-shoucang1 fa-2x"></i>
                    <span class="nav-text">
                        商城
                    </span>
                </a>
               
            </li>
            <li>
                <a href="/index/index/goods/publish">
                    <i class="fa iconfont icon-yonghu fa-2x"></i>
                    <span class="nav-text">
                        我的发布
                    </span>
                </a>
            </li>
            
            <li>
                <a href="/index/my_info">
                    <i class="layui-icon layui-icon-set-fill fa-2x fa "></i>
                    <span class="nav-text">
                       资料修改
                    </span>
                </a>
            </li>
            


        </ul>

        <ul class="logout">
            <li>
               <a href="/index/logout">
                     <i class="fa iconfont icon-tuichu1 fa-2x"></i>
                    <span class="nav-text">
                        退出
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
    <script src="/static/layui/layui.js"></script>