<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>没有账号请先注册</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/style/css/register/register.css">
</head>
<body>
        <div id="progress"></div>

        <div class="center">
          <div id="register">
        
            <i id="progressButton" class="ion-android-arrow-forward next layui-icon layui-icon-return"></i>
        
            <div id="inputContainer">
              <input id="inputField" required autofocus />
              <label id="inputLabel"></label>
              <div id="inputProgress"></div>
            </div>
        
          </div>
        </div>
        <script src="/static/layui/layui.js"></script>
        <script src="/static/style/js/register/reg.js"></script>
</body>
</html>